name = "koutube"
main = "src/worker.ts"
compatibility_date = "2023-09-23"

# for image embed feature
compatibility_flags = [ "nodejs_compat" ]
browser = { binding = "BROWSER" }

[[d1_databases]]
binding = "D1_DB"
database_id = "1234abcd-5678-ef90-1234-5678ef901234" # Replace with your D1 database ID
database_name = "koutube-db"

[triggers]
crons = ["0 0 * * *"] # Set the frequency at which the DB will be purged of expired keys